# List

In [3]:
# mutable data structure that hold a ordered collection of elements

li = [ 1,2,3,4,5]
li[2]

len(li)
type(li)

list

In [11]:
people = ["sam", "rose"]
people.append("jack")
people.append("steve")
people.append("alice")
people.append("david")
people

['sam', 'rose', 'jack', 'steve', 'alice', 'david']

In [12]:
people.pop()

'david'

In [13]:
people.remove("sam")
people

['rose', 'jack', 'steve', 'alice']

In [14]:
"rose" in people

True

In [15]:
"jones" not in people

True

# Slicing in List

In [17]:
spiderman = "Spiderman"
spiderman[0:6]
spiderman[-1]

'n'

In [24]:
tech = [ "java" , "node" , "php" , "spring" , "springboot" , "spark", "react" , "pyspark"]


tech[1 : 5]
tech[3 : -2]
tech[3:]
tech[:5]

['java', 'node', 'php', 'spring', 'springboot']

# Dictionaries

In [ ]:
# unordered collection of key-value pairs

In [28]:
rank = { "sam" : 1 , "ruby" :2 , "rose" : 2 , "jack" : 4 , "david" :5}

len(rank)

rank["ruby"]

rank["jenn"] = 6

rank

{'sam': 1, 'ruby': 2, 'rose': 2, 'jack': 4, 'david': 5, 'jenn': 6}

In [29]:

"rose" in rank

True

In [31]:
3 in rank.values()

False